.container-loading-state {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: gray, $alpha: 0.5);
}
.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: auto
}

.p-progress-spinner {
  width: 150px;
  height: 150px;
}