@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i");
@import "~primereact/resources/themes/bootstrap4-light-blue/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.min.css";
@import "~primeflex/src/_variables.scss";

body {
  font-family: "Open Sans", sans-serif;
}

.sds-container {
  padding: 20px;
}

.p-sidebar {
  max-width: 50%;
  width: 50%;
}

@media (max-width: 767px) {
  .sds-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .p-sidebar {
    max-width: 75%;
    width: 75%;
  }
}

.p-message .p-message-wrapper {
  padding: 0.5rem 0.75rem;
}

.p-message .p-message-icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.p-d-table-cell {
  display: table-cell !important;
}

@media screen and (min-width: $sm) {
  .p-d-sm-table-cell {
    display: table-cell !important;
  }
}

@media screen and (min-width: $md) {
  .p-d-md-table-cell {
    display: table-cell !important;
  }
}

@media screen and (min-width: $lg) {
  .p-d-lg-table-cell {
    display: table-cell !important;
  }
}

@media screen and (min-width: $xl) {
  .p-d-xl-table-cell {
    display: table-cell !important;
  }
}

@media print {
  .p-d-print-table-cell {
    display: table-cell !important;
  }
}

.sidebar-box {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.sidebar-box .sidebar-header {
  flex: 0 1 auto;
}

.sidebar-box .sidebar-content {
  flex: 1 1 auto;
  overflow: hidden auto;
}
// .sidebar-content {
//   overflow-x: hidden;
//   overflow-y: auto;
//   height: 100%;
// }
.sidebar-box .sidebar-footer {
  flex: 0 1 40px;
  text-align: right;
}

.p-sidebar-icons {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}
.p-sidebar-content {
  position: absolute;
  top: 52px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.sidebar-footer .p-message {
  margin-bottom: 1rem;
}

$spinner-color:#555;

@keyframes p-progress-spinner-color {
  100%,
  0% {
      stroke: $spinner-color;
  }
  40% {
      stroke: $spinner-color;
  }
  66% {
      stroke: $spinner-color;
  }
  80%,
  90% {
      stroke: $spinner-color;
  }
}